<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Double VP template</title>
</head>
<body style="font-family: sans-serif">
	<center><h2 style="
	    background-color: lightblue;
	    border-radius: 20px;
	    width: 400px;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    text-align: center;
		">
		Simple example template
	</h2></center>

	Example template containing two viewports to display two UI component <br><br><br>
	
	<div id="_viewport_VP1" style="
    	border: solid 1px lightblue;
    	width: 800px;
    	min-height: 200px;">
	</div>
	<br>
	<div id="_viewport_VP2" style="
    	border: solid 1px lightblue;
    	width: 800px;
    	min-height: 200px;">
	</div>

</body>
</html>