* {margin:0; padding:0}
body {font:11px/1.5 Verdana, Arial, Helvetica, sans-serif; background:#FFF}


.component {
	position: absolute;
	top: 50px;
	left: 10px;
	border: 4px solid lightseagreen;
	padding: 10px;
	border-radius: 20px;
	width: 260px;
	background-color: #F2F2F2;
}

.controlflow {
	position: absolute;
	top: 50px;
	left: 320px;
	border: 4px solid lightsalmon;
	padding: 10px;
	border-radius: 20px;
	width: 260px;
	background-color: #F2F2F2;
}

.datapassing {
	position: absolute;
	top: 404px;
	left: 320px;
	border: 4px solid lightskyblue;
	padding: 10px;
	border-radius: 20px;
	width: 260px;
	background-color: #F2F2F2;
}

.presentation {
	position: absolute;
	top: 240px;
	left: 628px;
	border: 4px solid lightsteelblue;
	padding: 10px;
	border-radius: 20px;
	width: 260px;
	background-color: #F2F2F2;
}

.collaboration {
	position: absolute;
	top: 50px;
	left: 628px;
	border: 4px solid lightgreen;
	padding: 10px;
	border-radius: 20px;
	width: 260px;
	background-color: #F2F2F2;
}

.platform {
	position: absolute;
	top: 430px;
	left: 628px;
	border: 4px solid darkkhaki;
	padding: 10px;
	border-radius: 20px;
	width: 260px;
	background-color: #F2F2F2;
}

.generate {
	position: absolute;
	top: 50px;
	left: 932px;
	background-color: lightslategray;
	padding: 10px;
	width: 200;
	border-radius: 20px;
}