* {margin:0; padding:0}
body {font:11px/1.5 Verdana, Arial, Helvetica, sans-serif; background:#FFF}


.component {
	position: absolute;
	top: 50px;
	left: 20px;
	background-color: lightseagreen;
	padding: 10px;
	border-radius: 20px;
	width: 260px;
}

.controlflow {
	position: absolute;
	top: 50px;
	left: 320px;
	background-color: lightsalmon;
	padding: 10px;
	border-radius: 20px;
	width: 260px;
}

.datapassing {
	position: absolute;
	top: 404px;
	left: 320px;
	background-color: lightskyblue;
	padding: 10px;
	border-radius: 20px;
	width: 260px;
}

.presentation {
	position: absolute;
	top: 240px;
	left: 620px;
	background-color: lightsteelblue;
	padding: 10px;
	border-radius: 20px;
	width: 260px;
}

.collaboration {
	position: absolute;
	top: 50px;
	left: 620px;
	background-color: lightgreen;
	padding: 10px;
	border-radius: 20px;
	width: 260px;
}

.platform {
	position: absolute;
	top: 430px;
	left: 620px;
	background-color: darkkhaki;
	padding: 10px;
	border-radius: 20px;
	width: 260px;
}

.generate {
	position: absolute;
	top: 50px;
	left: 920px;
	background-color: lightslategray;
	padding: 10px;
	width: 200;
	border: 5px solid darkorange;
	border-style: solid;
}